/build/
/release/
/engine/docs/build/
/j25_release_*/
/tmp/

*.exe
*.dll
*.sav
*.gch
*.a
*.obj
*.o
*.so
*.lib
*.gcda
j25_release_*.tar.gz
engine_client
gmon.out
profile.txt
README.html

*.sublime-project
*.sublime-workspace
